# Logistic model

In [1]:
import pandas as pd
import re
import os
import sys
import matplotlib.pyplot as plt
from statsmodels.graphics.tsaplots import plot_acf
from mice_inspection_utils import *

if not os.path.exists('Data/by_mouse'):
    os.makedirs('Data/by_mouse')

imput_subj_paths = [f"Data/raw/total.full.rn.RA.total_OTU_table.mouse{i+1}.ovr0.0p.csv" for i in range(0, 8)]
output_subj_paths = [f"Data/by_mouse/mouse_{i+1}.csv" for i in range(0, 8)]
metadata_path = "Data/raw/OTU_table.csv"
mi = Mice_Inspection(ip = imput_subj_paths, op = output_subj_paths, mdp = metadata_path)

In [2]:
df = mi.mice_df[0]
df.head()

species = "Prevotella sp. Smarlab 121567"
days = df.columns[4:].to_numpy(dtype = int)


T = 2
dissimiarities = []
for i, day in enumerate(days):
    if (day + T) in days:
        df[f"{day}"].iloc[0] + df[f"{day + T}"].iloc[0]

KeyError: '8'

In [5]:
df = mi.mice_df[0]
df.head()

,Unnamed: 0,species,median_counts,mean_counts,1,8,9,10,15,17,...,1001,1004,1010,1016,1022,1028,1029,1035,1039,1044
0,0,Prevotella sp. Smarlab 121567,412.0,415.156682,0,0,0,2,10,18,...,220,248,252,286,346,293,277,190,222,364
1,1,Parabacteroides distasonis,205.5,206.709677,0,0,0,2,41,145,...,136,157,206,133,177,105,163,147,208,222
2,3,Barnesiella intestinihominis,142.0,145.419355,0,0,0,1,19,58,...,158,145,184,131,145,154,119,130,71,161
3,4,Barnesiella viscericola,125.5,137.092166,0,1,0,1,112,195,...,66,85,134,96,126,121,92,71,72,147
4,2,Lactobacillus taiwanensis,123.5,174.769585,0,422,309,0,48,15,...,36,162,282,174,100,306,517,193,513,175

In [7]:
df = mi.get_species_df()
df.head(20)

,day,mouse_1,mouse_2,mouse_3,mouse_4,mouse_5,mouse_6,mouse_7,mouse_8,mean,std
0,0,0,1,0,0,0,0,0,2,0.375,0.744024
1,1,0,0,0,0,0,0,0,1,0.125,0.353553
2,2,0,1,1,0,0,0,0,2,0.500,0.755929
3,3,0,0,0,0,2,0,0,0,0.250,0.707107
4,4,0,0,0,0,0,0,0,0,0.000,0.000000
5,5,0,0,0,0,0,0,0,0,0.000,0.000000
6,6,0,0,0,0,0,0,0,0,0.000,0.000000
7,7,0,0,0,0,0,0,0,0,0.000,0.000000
8,8,0,0,0,0,0,0,0,7,0.875,2.474874
9,9,0,0,9,0,1,60,0,0,8.750,20.940392
10,10,2,0,0,41,2,0,0,0,5.625,14.322186
11,11,0,0,0,0,0,0,0,0,0.000,0.000000
12,12,0,0,0,0,0,0,0,0,0.000,0.000000
13,13,0,0,59,0,161,8,2,55,35.625,56.495101
14,14,0,51,49,0,0,28,37,25,23.750,21.605224
15,15,10,228,2,1,2,268,50,17,72.250,110.159300
16,16,0,0,0,0,0,0,0,0,0.000,0.000000
17,17,18,4,12,15,6,13,17,4,11.125,5.718079
18,18,0,0,0,0,0,0,0,0,0.000,0.000000
19,19,0,0,0,0,0,0,0,0,0.000,0.000000